.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.navBar {
  position: fixed;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  top: 0;
  width: 100%;
  z-index: 2000;
  font-family: 'Gudea', sans-serif;
  text-decoration: none;
  text-align: center;
  border-bottom: solid;
  border-width: 1px;
  border-color: rgb(136, 136, 136);
}


a {
  color: darkgray;
}

a:visited {
  color: darkgray;
}

a.glow, a.glow:focus {
	text-decoration: none;
	color:white;
	text-shadow: none;
	-webkit-transition: 500ms linear 0s;
	-moz-transition: 500ms linear 0s;
	-o-transition: 500ms linear 0s;
	transition: 500ms linear 0s;
	outline: 0 none;
}

a.glow:hover, a.glow:active, a.glow:focus {
	text-shadow: 2px 2px 6px rgb(255, 255, 255);
}

ul {
  list-style-type: none;
  text-decoration: none;
  padding-inline-start: 0px
}

h2 {
  color: whitesmoke;
  text-align: center;
  font-size: xx-large;
  padding-top: 11%;
  padding-bottom: 2%;
}

.container {
  height: 100%;
}

.homeInfoCard {
  display: flex;
  text-align: center;
  justify-content: center;
  font-family: 'Gudea', sans-serif;
  background: linear-gradient(to top right, rgb(30, 14, 58) 5%, rgb(3, 1, 12) 95%);
  color: whitesmoke;
}

.homePageList {
  margin-bottom: 28%;
}

.aboutMe {
  background: rgb(21, 5, 49);
  text-align: center;
  font-family: 'Gudea', sans-serif;
  color: white;
}

.aboutMeText {
  width: 70%;
  text-align: center;
  display: inline-block;
}

.aboutMe p:first-of-type {
  margin-top: -5px;
  font-size: larger;
  color: whitesmoke;
}

.skillsPage {
  background: rgb(21, 5, 49);
  text-align: center;
  font-family: 'Gudea', sans-serif;
  color: white;
  
}

.contactMePage {
  width: 100%;
  margin: auto;
  margin-top: -2%;
  text-align: center;
  font-family: 'Gudea', sans-serif;
  background: rgb(21, 5, 49);
 
}

.contactMePage ul {
  display: flex;
  flex-direction: row;
  width: 60%;
  margin: auto;
  margin-bottom: -2%;
  padding-bottom: 8%;
  justify-content: space-evenly;
  flex-wrap: wrap;
  
}

.contactMePage img {
  fill: white;
  color: white;
  height: 95%;
  width: 80%;
  background-color: rgb(219, 219, 219);
  border: solid;
  border-radius: 70px;
  border-width: 1px;
  border-color: whitesmoke;
  box-shadow: 2px 2px 80px rgb(233, 233, 233);
}

.projectPage {
  text-align: center;
  font-family: 'Gudea', sans-serif;
  color: whitesmoke;
  overflow: auto;
  padding-bottom: 2%;
  background: rgb(21, 5, 49)
}

.wrapper {
  background-color:rgba(119, 118, 118, .4);
  display: flex;
  width: 70%;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  box-shadow: 1px 1px 5px rgb(119, 118, 118);
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
  border-color: rgb(119, 118, 118, .4);
  overflow: auto;
  transition: 0.5s ease-in-out;
}

.wrapper:hover {
  box-shadow: 0px 0px 12px rgb(221, 221, 221);
}

.project-left {
  float: left;
  width: 30%;
  padding-top: 1.5%;
}

.project-right {
  float: right;
  width: 60%;
  padding-left: 2%;
  text-align: left;
}

.projectList {
  overflow: auto;
  margin: auto;
}

.tech-list {
  display: flex;
  flex-direction: row;
  text-align: left;
  overflow: auto;
}

.tech-list li {
  margin-right: 3%;
  font-weight: bold;
}

.project-right svg {
  fill: black;
  margin-right: 0.6em;
  margin-top: 3px;
  vertical-align: text-bottom;
}

.footer {
  color: whitesmoke;
  background-color: rgb(21, 5, 49);
  height: 3%;
  text-align: center;
  font-family: 'Gudea', sans-serif;
  left:0;
  bottom:0;
  right:0;
  border-top: solid;
  clear: both;
  border-color: rgb(136,136,136);
  border-width: 1px;
}

.footer p:first-child {
  padding-bottom: 2%;
  margin-bottom: -2%;
}

.development-icons{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  padding-top: 0.5em;
  width: 70%;
  
}

.individual-icons:hover {
  transform: scale(1.2);
  transition: all .2s ease-in-out;
}

.development-icons i{
  width: 1.8em;
  font-size: 4em;
  padding: 0.3em;
  margin: 0 auto;
  
}

.development-icons p {
  margin: 0.5em auto;
  font-size: 1em;
}

.development-icons div {
  margin: 1.2em;
}

