.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navBar {
  position: relative;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  top: 0;
  font-family: 'Gudea', sans-serif;
  text-decoration: none;
  border-bottom: solid;
  border-width: 1px;
  border-color: rgb(136, 136, 136);
}

a {
  color: darkgray;
}

a:visited {
  color: darkgray;
}

a.contacts, a.contacts:hover, a.contacts:focus {
  text-decoration: none;
  text-shadow: 3px 3px 3px rgb(255, 255, 255);
}

a.contacts:hover, a.contacts:active, a.contacts:focus {
  text-decoration: none;
}

a.glow, a.glow:hover, a.glow:focus {
	text-decoration: none;
	color:whitesmoke;
	text-shadow: none;
	-webkit-transition: 500ms linear 0s;
	-moz-transition: 500ms linear 0s;
	-o-transition: 500ms linear 0s;
	transition: 500ms linear 0s;
	outline: 0 none;
}

a.glow:hover, a.glow:active, a.glow:focus {
	color: white;
	text-shadow: 0px 0px 10px rgb(255, 255, 255);
}


ul {
  list-style-type: none;
  text-decoration: none;
  text-align: center;
  width: 100vw;
}


h2 {
  color: whitesmoke;
}

.homeInfoCard {
  height: 100vh;
  width: 100vw;
  position: absolute;
  text-align: center;
  font-family: 'Gudea', sans-serif;
  background: linear-gradient(to top right, rgb(26, 12, 51) 5%, rgb(3, 1, 12) 95%);
  color: whitesmoke;

}


.aboutMe {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to top right, rgb(26, 12, 51) 5%, rgb(3, 1, 12) 95%);
  color: white;
}

.contactMePage {
  height: 100vh;
  width: 100vw;
  position: absolute;
  font-family: 'Gudea', sans-serif;
  background: linear-gradient(to top right, rgb(26, 12, 51) 5%, rgb(3, 1, 12) 95%);
}

.emailLink {
  height: 40vh;
  width: 25vw;
  margin-left: 37vw;
  font-size: 10vh;
  text-align: center;
  font-family: 'Gudea', sans-serif;
}

.projectPage {
  text-align: center;
  font-family: 'Gudea', sans-serif;
  color: whitesmoke;
  height: 100vh;
  width: 100vw;
  position: absolute;
  background: linear-gradient(to top right, rgb(26, 12, 51) 5%, rgb(3, 1, 12) 95%);
}

.footer {
  color: whitesmoke;
  position: absolute;
  font-family: 'Gudea', sans-serif;
  left:0;
  bottom:0;
  right:0;
  border-top: solid;
  border-color: rgb(136,136,136);
  border-width: 1px;
}